<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml" />

	<!-- Application specific log configuration -->
	<logger name="com.ctrl_alt_elite" level="DEBUG" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
